<a href="https://colab.research.google.com/github/dlwlgus53/Korean-Embedding/blob/master/5_%EB%8B%A8%EC%96%B4%EC%88%98%EC%A4%80%EC%9E%84%EB%B2%A0%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 단어수준 임베딩

In [ ]:
root_path = '/content/drive/MyDrive/2021-1/AI데이터활용교재개발/code'

## Word2Vec 실습코드

In [ ]:
# 데이터 경로와 모델 경로 지정
corpus_fname = root_path + '/data/processed/tokenized/korquad_mecab_noun.txt'
model_fname = root_path + '/model/word2vec'
# word2vec 모델 로드
from gensim.models import Word2Vec

# corpus 단어별로 나누어 생성
corpus = [sent.strip().split(" ")for sent in open(corpus_fname,"r").readlines()]
print("make corpus")

# 모델 학습 후 저장
model = Word2Vec(corpus, size=100, workers=4, sg=1)
model.save(model_fname)

In [ ]:
corpus[0]

In [ ]:
from gensim.models import KeyedVectors

# 모델 로드
model = Word2Vec.load(model_fname)


# 가장 비슷한 단어 5개 출력
model.wv.most_similar("희망", topn=5)

[('좌절', 0.8474780321121216),
 ('고집', 0.7778303623199463),
 ('제의', 0.7771428823471069),
 ('발판', 0.77425217628479),
 ('최선', 0.7693341970443726)]

In [ ]:
import pandas as pd
wordlist = model.wv.index2entity[:10]
similarTB = pd.DataFrame()

for wd in model.wv.index2entity[:10]:
  similarTB[wd] = model.wv.most_similar(wd, topn=5)


similarTB

                          무엇  ...                          때문
0  (여기, 0.47958627343177795)  ...    (이유, 0.6950816512107849)
1   (일종, 0.4743133783340454)  ...    (배제, 0.5836772918701172)
2  (유사, 0.47198814153671265)  ...    (만큼, 0.5824016332626343)
3   (원래, 0.4612067639827728)  ...  (마찬가지, 0.5717800855636597)
4   (정진, 0.4577593207359314)  ...   (어려움, 0.5706420540809631)

[5 rows x 10 columns]

## FastText실습코드
- https://joyhong.tistory.com/135

In [ ]:
from gensim.models import FastText

model_fname =root_path + '/model/fasttext'
corpus_fname = root_path + '/data/processed/tokenized/ratings_mecab_noun.txt'


# corpus 없다면 단어별로 나누어 생성
# corpus = [sent.strip().split(" ")for sent in open(corpus_fname,"r").readlines()]

# 모델 학습
print("학습 중") 
model = FastText(corpus, size=100, workers=4, sg=1, iter=6, word_ngrams=5)

model.save(model_fname)

학습 중

In [ ]:
from gensim.models import FastText 
model = FastText.load(model_fname)
print(model.wv.most_similar("학교", topn=5))
print(model.wv.most_similar("초등헉교", topn=5))

[('초등', 0.7916660308837891), ('신학교', 0.7570722103118896), ('소학교', 0.750496506690979), ('의학교', 0.7503328323364258), ('중학교', 0.717424750328064)]
[('초등', 0.9762237071990967), ('중학교', 0.8239279389381409), ('소학교', 0.8226397037506104), ('보통학교', 0.7883714437484741), ('의학교', 0.7784336805343628)]

In [ ]:
import pandas as pd
similarTB = pd.DataFrame()

for wd in model.wv.index2entity[:10]:
  print(wd)
  similarTB[wd] = model.wv.most_similar(wd, topn=5)

similarTB

무엇
이름
사람
누구
미국
이후
당시
일본
시작
때문

## Glove

In [ ]:
! pip install glove-python-binary
from glove import Corpus, Glove
model_fname =root_path + '/model/glove'
corpus_glove = Corpus() 
corpus_glove.fit(corpus, window=15)
# 훈련 데이터로부터 GloVe에서 사용할 동시 등장 행렬 생성

glove = Glove(no_components=100, learning_rate=0.05)#?
glove.fit(corpus_glove.matrix, epochs=15, no_threads=4, verbose=True)
glove.add_dictionary(corpus_glove.dictionary)
# 학습에 이용할 쓰레드의 개수는 4로 설정, 에포크는 15
glove.save(model_fname)

Requirement already satisfied: glove-python-binary in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from glove-python-binary) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from glove-python-binary) (1.19.5)
Performing 15 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14

In [ ]:
# 모델 저장 후 load
from glove import Glove
glove = Glove.load(model_fname) 
print(glove.most_similar('희망', number=10))

[('노력', 0.8746533118495083), ('웅녀', 0.8612577477066545), ('약화', 0.8577640894465396), ('재상', 0.851776139337839), ('적극', 0.8451857790452699), ('하갈', 0.8372039752739076), ('제약', 0.8347097717046211), ('정체', 0.8310317499108784), ('강조', 0.8306546926715588)]

In [ ]:
similarTB = pd.DataFrame()

for wd in wordlist:
  similarTB[wd] = glove.most_similar(wd, number=6)

similarTB

                          무엇  ...                         때문
0   (영욱, 1.0000000000000002)  ...                 (아말피, 1.0)
1  (운드로, 1.0000000000000002)  ...                  (삼녀, 1.0)
2   (이포, 1.0000000000000002)  ...   (퓨마, 0.9999999999999999)
3  (일레르, 1.0000000000000002)  ...  (금강정, 0.9999999999999999)
4  (비로봉, 1.0000000000000002)  ...   (때문, 0.9999999999999999)

[5 rows x 10 columns]